












img {
  width: 100%;
  border-radius: 10px;
  margin: 15px 0;
}





@media (max-width: 768px) {
  
  .container {
    flex-direction: column;
    padding: 15px;
  }

  .noticia {
    width: 100%;
  }

  .sidebar {
    width: 100%;
  }

  header {
    flex-direction: column;
    gap: 10px;
  }
}